.w3-flat-turquoise {
    color: #fff;
    background-color: #1abc9c!important;
}

.w3-flat-emerald {
    color: #fff;
    background-color: #2ecc71!important;
}

.w3-flat-peter-river {
    color: #fff;
    background-color: #3498db!important;
}

.w3-flat-amethyst {
    color: #fff;
    background-color: #9b59b6!important;
}

.w3-flat-wet-asphalt {
    color: #fff;
    background-color: #34495e!important;
}

.w3-flat-green-sea {
    color: #fff;
    background-color: #16a085!important;
}

.w3-flat-nephritis {
    color: #fff;
    background-color: #27ae60!important;
}

.w3-flat-belize-hole {
    color: #fff;
    background-color: #2980b9!important;
}

.w3-flat-wisteria {
    color: #fff;
    background-color: #8e44ad!important;
}

.w3-flat-midnight-blue {
    color: #fff;
    background-color: #2c3e50!important;
}

.w3-flat-sun-flower {
    color: #fff;
    background-color: #f1c40f!important;
}

.w3-flat-carrot {
    color: #fff;
    background-color: #e67e22!important;
}

.w3-flat-alizarin {
    color: #fff;
    background-color: #e74c3c!important;
}

.w3-flat-clouds {
    color: #000;
    background-color: #ecf0f1!important;
}

.w3-flat-concrete {
    color: #fff;
    background-color: #95a5a6!important;
}

.w3-flat-orange {
    color: #fff;
    background-color: #f39c12!important;
}

.w3-flat-pumpkin {
    color: #fff;
    background-color: #d35400!important;
}

.w3-flat-pomegranate {
    color: #fff;
    background-color: #c0392b!important;
}

.w3-flat-silver {
    color: #000;
    background-color: #bdc3c7!important;
}

.w3-flat-asbestos {
    color: #fff;
    background-color: #7f8c8d!important;
}


.w3-metro-light-green {
    color: #fff;
    background-color: #99b433!important;
}

.w3-metro-green {
    color: #fff;
    background-color: #00a300!important;
}

.w3-metro-dark-green {
    color: #fff;
    background-color: #1e7145!important;
}

.w3-metro-magenta {
    color: #fff;
    background-color: #ff0097!important;
}

.w3-metro-light-purple {
    color: #fff;
    background-color: #9f00a7!important;
}

.w3-metro-purple {
    color: #fff;
    background-color: #7e3878!important;
}

.w3-metro-dark-purple {
    color: #fff;
    background-color: #603cba!important;
}

.w3-metro-darken {
    color: #fff;
    background-color: #1d1d1d!important;
}

.w3-metro-teal {
    color: #fff;
    background-color: #00aba9!important;
}

.w3-metro-light-blue {
    color: #000;
    background-color: #eff4ff!important;
}

.w3-metro-blue {
    color: #fff;
    background-color: #2d89ef!important;
}

.w3-metro-dark-blue {
    color: #fff;
    background-color: #2b5797!important;
}

.w3-metro-yellow {
    color: #fff;
    background-color: #ffc40d!important;
}

.w3-metro-orange {
    color: #fff;
    background-color: #e3a21a!important;
}

.w3-metro-dark-orange {
    color: #fff;
    background-color: #da532c!important;
}

.w3-metro-red {
    color: #fff;
    background-color: #ee1111!important;
}

.w3-metro-dark-red {
    color: #fff;
    background-color: #b91d47!important;
}