
/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https:/.com/atom/one-light-syntax
*/

.hljs {
    display: block;
    overflow-x: auto;
  }
  
.hljs-comment,
.hljs-quote {
  color: LightSlateGray;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: Crimson;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: Olive;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: ForestGreen;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: DarkOrchid ;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: GoldenRod;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title,
.hljs-literal {
  color: RoyalBlue ;
  
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/* My Class */
/* My link style */
.my-link:link, .my-link:visited {
    text-decoration: none;
}

.my-link:hover, .my-link:active {
    text-decoration: underline;
}


/* My Radio Button*/
/* Hide the browser's default checkbox */
.my-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid lightgray;
  transition: 0.2s all linear;
  outline: none;
  position: relative;
  top: 4px;
}

/* When the checkbox is checked, add a black background */ 
.my-radio:checked  {
  border: 7px solid black;
}

/* My Slider */
.my-slider {
  -webkit-appearance: none;
  height: 20px;
  background: lightgray;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.my-slider::-webkit-slider-thumb, .my-slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}



/* My Margin Small */
.my-margin-top-small {
  margin-top:8px;
}

.my-margin-small {
  margin:4px;
}

/* The sticky class is added to the tagDiv with JS when it reaches its scroll position */
.my-fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}

/* My Color */
.my-crimson { 
  color: white!important; 
  background-color: crimson!important; 
}

.my-dark-blue {
  color: white!important;
  background-color: darkblue!important;
}

/* My Element */
@media (min-width:600px) {
  #sidebar {
    margin-top:-16px; 
    width:25%;
  }
}

@media (max-width:600px) {
  #sidebar {
    margin-top:-16px; 
    width:75%;
  }
}

hr { 
  border-width: 2px!important;
  border-color: dimgray!important;
} 

ol, ul {
  padding:16px;
  margin:0;
}

a:hover {
  position: relative;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  color:black;
  bottom: 100%;
  background-color: lightgray;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family:Verdana,sans-serif;
  font-size:15px;
}  